extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Victor
        p Full Stack JavaScript Developer
        .about-bio
          p Phasellus eget tristique dui, at semper urna. Nunc quis enim non quam iaculis imperdiet. In eleifend odio sit amet luctus consectetur. In placerat metus pharetra mauris condimentum, vitae hendrerit neque bibendum. Nulla facilisi. Nulla dapibus metus ex, luctus varius lorem aliquet euismod. Pellentesque congue nibh id iaculis fermentum. Nulla fringilla elementum vestibulum. Sed maximus, felis non consequat faucibus, metus nulla commodo leo, quis accumsan orci arcu quis sem. Curabitur sit amet nibh commodo leo efficitur blandit. In congue aliquam nisi eget pharetra. Praesent vel fringilla lectus. Etiam in risus neque. Donec sapien leo, posuere eu tempor in, ultrices eu dui. Mauris eleifend arcu sed tellus vehicula, id facilisis turpis dictum. Maecenas dolor neque, varius et dapibus in, placerat in nunc. Cras consequat feugiat hendrerit. Aliquam id libero dapibus metus faucibus laoreet.
          p Curabitur sit amet nibh commodo leo efficitur blandit. In congue aliquam nisi eget pharetra. Praesent vel fringilla lectus. Etiam in risus neque. Donec sapien leo, posuere eu tempor in, ultrices eu dui. Mauris eleifend arcu sed tellus vehicula, id facilisis turpis dictum. Maecenas dolor neque, varius et dapibus in, placerat in nunc. Cras consequat feugiat hendrerit. Aliquam id libero dapibus metus faucibus laoreet.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 555-555-1234
          li email@email.com
        a.btn-link(href=`https://github.com/VictorYang2017/tth-td-project-6`) LinkedIn
        a.btn-link(href=`https://github.com/VictorYang2017/tth-td-project-6`) GitHub
        a.btn-link(href=`https://github.com/VictorYang2017/tth-td-project-6`) Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back