extends layout.pug
block content
    div(class="error-message")
        h1= errorMsg.toUpperCase()
        h2= errorStatus
        img(src="/static/images/error-face.svg", class="error-face-img")
    div(class="client-message")
        h2 Hi, click the button below to go back to home page!
        a(href='/' class="client-message-btn") Back to home

            